version: 2.1

orbs: 
  node: circleci/node@5.0.0

jobs:
  next-gen:
    docker:
      - image: cimg/base:stable
      
    steps:
      - checkout
      -  setup_remote_docker
      - run:
          name: Docker run
          command: |
              docker-compose --version
              docker-compose -f compose.yml run frontend


  legacy:
    docker:
       - image: circleci/buildpack-deps
      
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Docker run
          command: |
              docker-compose --version
              docker-compose -f compose.yml run frontend


workflows:
  on_commit:
    jobs:
      - next-gen
      - legacy
