version: 2.1

orbs: 
  node: circleci/node@5.0.0

jobs:
  install-test-build:
    machine:
      image: ubuntu-2004:202101-01
      
    steps:
      - checkout
#       - node/install-packages:
#           pkg-manager: yarn

      - run:
          name: Install
          command: |
              docker run -it --rm \
                --mount type=bind,source=/etc/passwd,target=/etc/passwd,readonly \
                --mount type=bind,source=/etc/group,target=/etc/group,readonly \
                -u $(id -u $USER):$(id -g $USER) \
                -v ${HOME}:/home/circleci \
                -w /home/circleci/project \
                cimg/node:17.2.0 \
                yarn install

      - run:
          name: Run tests
          command: |
              docker run -it --rm \
                --mount type=bind,source=/etc/passwd,target=/etc/passwd,readonly \
                --mount type=bind,source=/etc/group,target=/etc/group,readonly \
                -u $(id -u $USER):$(id -g $USER) \
                -v ${HOME}:/home/circleci \
                -w /home/circleci/project \
                cimg/node:17.2.0 \
                yarn test --watchAll=false

      - run:
          name: Build app
          command: |
              docker run -it --rm \
                --mount type=bind,source=/etc/passwd,target=/etc/passwd,readonly \
                --mount type=bind,source=/etc/group,target=/etc/group,readonly \
                -u $(id -u $USER):$(id -g $USER) \
                -v ${HOME}:/home/circleci \
                -w /home/circleci/project \
                cimg/node:17.2.0 \
                yarn build
                
      - run:
          name: List content
          command: ls -al build/static
                
workflows:
  on_commit:
    jobs:
      - install-test-build:
          name: Install -> Test -> Build 
