version: 2.1

orbs: 
  node: circleci/node@5.0.0

jobs:
  test:
    machine:
      image: ubuntu-2004:202101-01
      
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Run tests
          command: |
              docker run -d \
                -v ${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}:/home/circleci/project \
                --mount type=bind,source=/etc/passwd,target=/etc/passwd,readonly --mount type=bind,source=/etc/group,target=/etc/group,readonly -u $(id -u $USER):$(id -g $USER) \
                -w /home/circleci/project \
                cimg/node:17.2.0 \
                yarn test

      - run:
          name: Build app
          command: |
              docker run -d \
                -v ${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}:/home/circleci/project \
                --mount type=bind,source=/etc/passwd,target=/etc/passwd,readonly --mount type=bind,source=/etc/group,target=/etc/group,readonly -u $(id -u $USER):$(id -g $USER) \
                -w /home/circleci/project \
                cimg/node:17.2.0 \
                yarn build
                
workflows:
  on_commit:
    jobs:
      - test
